.imageplace2 {
    justify-content: center;
    padding-left: 0px;
    padding-right: 200px;
}

.topicon2 {
        justify-content: center !important;
        padding-left: 680px;
        padding-top: 100px;
}